@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>Your privacy is important to us.</p>

<p>Aaaand it's gone!</p>

<p>Seems like your personal data dissapeared. Oh well, it happens to the best of us *ahem* <b><i>Facebook</i></b> *ahem*.</p>
